node_modules/
functions/lib/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
emulator-data/*
!emulator-data/.gitkeep
firebase-debug.log
firestore-debug.log
